body{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

#contenedor{
    margin: 0px auto;
    width: 600px;
    height: 250px;
    background-color: rgb(52, 95, 109);
    padding: 50px 0px;
}

p{
    color: white;
    text-align: justify;
    margin: 0px 15px;
}

#cabe{
    margin: 0px auto;
    width: 600px;
    height: 80px;
    background: rgb(184, 35, 243);
}

img{
    margin-top: 15px;
    margin-left: 30px;
    width: 60px;
    height: 60px;
    float: left;
}

#cabe>h1{
    float: left;
    margin-left: 50px;
    color: white;
    font-style: italic;
}

#cabe>h3{
    float: left;
    margin-left: 50px;
    margin-top: 25px;
    color: white;
}

footer{
    margin: 0px auto;
    background: black;
    width: 600px;
    height: 80px;
    padding-top: 20px;
}

h2{
    color: white;
    margin: 0px;
}
