body{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

#contenedor{
    margin: 0px auto;
    width: 600px;
    height: 250px;
    background-color: lightblue;
    padding: 50px 0px;
}

#cabe{
    margin: 0px auto;
    width: 600px;
    height: 80px;
    background: rgb(35, 35, 243);
}

#cabe>h1{
    float: left;
    margin-left: 150px;
    color: white;
}

#cabe>h3{
    float: left;
    margin-left: 50px;
    margin-top: 25px;
    color: white;
}

